<!-- # License
# This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo
# of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016

# Code History
# 1.0 - 2/5/2019 - Sean Chan - Initial File
# 2.0 - 2/7/2019 - Menard Cruz - Initial Frontend layouting
# 3.0 - 2/7/2019 - Sean Chan - ERB fixes
-->
<div class="transit-footer">
	<div class="d-flex h-100">
		<h1 class="m-auto">Footer here</h1>
	</div>
</div>
