<!-- 
  # License
  # This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo
  # of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019

  # Code History
  # 1.0 - 2/5/2019 - Sean Chan - Initial File
  # 2.0 - 2/7/2019 - Menard Cruz - Initial Frontend layouting
  # 3.0 - 2/7/2019 - Sean Chan - ERB fixes
  # 3.1 - 2/7/2019 - Michael Marrero - Edited Comments, Added Comment block that gives detailed information on the software

  # File Creation Date: 2/5/2019
  # Development Group: Transit Development Tteam (Chan,Cruz,Marrero)
  # Client Group: UP Student Dormers
  # Purpose of the Software: The project is to make a web-based application named Transit, and its main vision is to inform dormers and other temporary housed students to travel back to their 
  #   permanent residence of the routes and methods from their current location. Being on a budget, students are more inclined to cheaper options in favor of comfort or travel time.
-->

<div class="transit-footer d-flex">
  <div class="row h-100 container mx-auto my-5">
    <div class="col-lg-4 p-3 d-flex">
      <h1 class="m-auto">TRANSIT</h1>
    </div>
    <div class="col-lg-4 p-3 d-flex">
      <p class="mx-auto">
        This is a course requirement for CS191/192 Software Engineering Courses of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman under the guidance of Ma. Rowena C. Solamo for the 1st and 2nd Semester of the academic year 2018-2019.
      </p>
    </div>
    <div class="col-lg-4 p-3 d-flex">
      <div class="mx-lg-auto">
        <h3>Developers</h3>
        <p>Sean Ryan Chan</p>
        <p>Menard Ysrael Cruz</p>
        <p>Michael Deo Marrero</p>
      </div>
    </div>
  </div>
</div>