<% content_for :title, "New Transit Line" %>
<div class="container py-5">
  <h1>New Transit Line</h1>
  

  <%= render 'form', transit_line: @transit_line %>

  <%= link_to 'Back', transit_lines_path %>
</div>